body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/** bold **/
h1, h3, h4 {
	font-weight: bold;
}


.blue {
	
	color:#2D4262;
}

.red {
	color:#B82601;
	
}

.att {
	font-family: 'Special Elite', cursive;
}
.white {
	color:#FFF;
}




.cover {

	background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1489454810&di=4f9ee681002b1bbf938128e7d87c7196&imgtype=jpg&er=1&src=http%3A%2F%2Fdimg04.c-ctrip.com%2Fimages%2Ft1%2Fvacations%2F200000%2F199652%2F751c516612bc44169d9482c4429efe10.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 20px solid #B82601;
	border-bottom: 20px solid #2D4262;
	align-items: center;
	margin-top:10px;
	 
}


.content {
	border:2px solid #FFF;
	background-color: #ffffff;
    opacity: 0.8;
	text-align: center;
	filter: alpha(opacity=60);
	margin-top:30px;
	margin-bottom:40px;
	padding-left:2px;
	padding-right:2px;
        align-items: center;
  	font-family: 'Open Sans', sans-serif;
   
}

.slogan {
	 font-family: 'Special Elite', cursive;
	 
	 color:#B82601;
	 font-size:280%;
}




.banner {

	background-color: #CAE1FF;
	text-align: center;
	color: #4F94CD;
	font-size:larger;
	line-height: 2em;

	 
}

#discount {
	font-size:250%;
	
	font-family: 'Monoton', cursive;


}

.bottom {
	
	background-color: #2D4262;
	margin-top:20px;
	margin-bottom:2px;
	padding-top: 5px;
	padding-bottom: 5px;	
  
}

.bottom li {
	font-size:15px;
    font-weight: bold;
	padding-left:5px;
}

form {

	margin-top:20px;	 
}

label {
	margin-right:10px;
}

form input {
	background-color: #FFF;
	width:50%;
}



button {
	width:30%;
	padding:10px;
	background-color: #B82601;
	font-size:20px;
	color:white;
	font-weight: bold;

}

.description {
	margin-top:20px;
}

ul {
	padding-left:0;
}

ul li {
	list-style: none;
	font-size:larger;
}


footer {
	margin-top:30px;
	background-color: #B82601;
	margin-bottom:25px;
	border-bottom: 10px solid #2D4262;
	
}

.phone {
	font-weight: bold;
	font-size:150%;
}
